In [1]:
import sqlite3
import datetime

Предлагается поработать со схемой базы данных: 
Book (id, author, title, publish_year)  
Reader (id, name)  
Record (reader_id, book_id, taking_date, returning_date)  

В табличку Record можно добавить и отдельный ID. А reader_id и book_id — внешние ключи, которые ссылаются на таблицы Reader и Book соответственно.  
1)Вывести список книг  
2)Вывести список читателей  
3)Добавить книгу  
4)Добавить читателя  
5)Выдать книгу читателю  
6)Принять книгу

In [2]:
db_name = 'lib'
connection = sqlite3.connect(db_name)
cursor = connection.cursor()

In [6]:
cursor.execute(
    '''
    CREATE TABLE Book(
        id INT PRIMARY KEY NOT NULL,
        title TEXT,
        author TEXT,
        publish_year INT
    )
    '''
)

cursor.execute(
    '''
    INSERT INTO Book VALUES
    (1, 'Тихий Дон', 'М.Шолохов', 1932),
    (2, 'Два капитана', 'В.Каверин', 1944),
    (3, 'Как закалялась сталь', 'Н.Островский', 1934),
    (4, 'Das Kapital', 'K.Marx', 1867),
    (5, 'The Art of Electronics', 'P.Horowitz ans W.Hill', 2015)
    '''
)

In [7]:
cursor.execute("SELECT * FROM Book;")
row = cursor.fetchall()
row

[(1, 'Тихий Дон', 'М.Шолохов', 1932),
 (2, 'Два капитана', 'В.Каверин', 1944),
 (3, 'Как закалялась сталь', 'Н.Островский', 1934),
 (4, 'Das Kapital', 'K.Marx', 1867),
 (5, 'The Art of Electronics', 'P.Horowitz ans W.Hill', 2015)]

In [8]:
cursor.execute(
    '''
    CREATE TABLE Reader(
        id INT PRIMARY KEY NOT NULL,
        name TEXT
    )
    '''
)

cursor.execute(
    '''
    INSERT INTO Reader VALUES
    (1, 'Ivan'),
    (2, 'Jose'),
    (3, 'John'),
    (4, 'Louise'),
    (5, 'Frida')
    '''
)

In [9]:
cursor.execute(
    '''
    CREATE TABLE Record(
        reader_id INT REFERENCES Reader(id) NOT NULL,
        book_id INT REFERENCES Book(id) NOT NULL,
        taking_date TEXT,
        returning_date TEXT
    )
    '''
)

cursor.execute(
    '''
    INSERT INTO Record VALUES
    (3, 4, '1872-02-14', '1872-07-01'),
    (4, 4, '1996-10-26', NULL),
    (1, 2, '2006-06-13', '2006-06-14'),
    (1, 1, '2006-06-14', '2006-06-15'),
    (1, 3, '2006-06-15', '2006-07-20'),
    (2, 5, '2019-10-11', '2021-12-25'),
    (5, 3, '2001-03-15', NULL),
    (5, 3, '2002-09-19', '2002-09-25')
    '''
)

In [10]:
connection.commit()
connection.close()

**1) Вывести список книг**

In [11]:
def view_books():
    connection = sqlite3.connect(db_name)
    with connection:
        rows = connection.execute("SELECT * FROM Book;")
        print(*rows.fetchall(), sep='\n')

view_books()

(1, 'Тихий Дон', 'М.Шолохов', 1932)
(2, 'Два капитана', 'В.Каверин', 1944)
(3, 'Как закалялась сталь', 'Н.Островский', 1934)
(4, 'Das Kapital', 'K.Marx', 1867)
(5, 'The Art of Electronics', 'P.Horowitz ans W.Hill', 2015)

**2) Вывести список читателей**

In [12]:
def view_readers():
    connection = sqlite3.connect(db_name)
    with connection:
        rows = connection.execute("SELECT * FROM Reader;")
        print(*rows.fetchall(), sep='\n')

view_readers()

(1, 'Ivan')
(2, 'Jose')
(3, 'John')
(4, 'Louise')
(5, 'Frida')

**3) Добавить книгу**

In [13]:
def add_book(new):
    connection = sqlite3.connect(db_name)
    with connection:
        connection.execute("INSERT INTO Book VALUES (?, ?, ?, ?)", new)

add_book((6, 'Азбука', 'А.Барто', 1950))
view_books()

(1, 'Тихий Дон', 'М.Шолохов', 1932)
(2, 'Два капитана', 'В.Каверин', 1944)
(3, 'Как закалялась сталь', 'Н.Островский', 1934)
(4, 'Das Kapital', 'K.Marx', 1867)
(5, 'The Art of Electronics', 'P.Horowitz ans W.Hill', 2015)
(6, 'Азбука', 'А.Барто', 1950)

**4) Добавить читателя**

In [14]:
def add_reader(new):
    connection = sqlite3.connect(db_name)
    with connection:
        connection.execute("INSERT INTO Reader VALUES (?, ?)", new)

add_reader((6, 'Mary'))
view_readers()

(1, 'Ivan')
(2, 'Jose')
(3, 'John')
(4, 'Louise')
(5, 'Frida')
(6, 'Mary')

**5) Выдать книгу читателю**

In [15]:
def view_records():
    connection = sqlite3.connect(db_name)
    with connection:
        rows = connection.execute("SELECT * FROM Record;")
        print(*rows.fetchall(), sep='\n')

view_records()

(3, 4, '1872-02-14', '1872-07-01')
(4, 4, '1996-10-26', None)
(1, 2, '2006-06-13', '2006-06-14')
(1, 1, '2006-06-14', '2006-06-15')
(1, 3, '2006-06-15', '2006-07-20')
(2, 5, '2019-10-11', '2021-12-25')
(5, 3, '2001-03-15', None)
(5, 3, '2002-09-19', '2002-09-25')

In [34]:
def give_book(reader, book):
    t=datetime.datetime.now().date()
    t.strftime('%Y-%m-%d')
    connection = sqlite3.connect(db_name)
    with connection:
        connection.execute("INSERT INTO Record VALUES (?, ?, ?, ?)", (reader, book, t, None))

give_book(2, 3)
view_records()

(3, 4, '1872-02-14', '1872-07-01')
(4, 4, '1996-10-26', None)
(1, 2, '2006-06-13', '2006-06-14')
(1, 1, '2006-06-14', '2006-06-15')
(1, 3, '2006-06-15', '2006-07-20')
(2, 5, '2019-10-11', '2021-12-25')
(5, 3, '2001-03-15', None)
(5, 3, '2002-09-19', '2002-09-25')
(2, 3, '2022-03-28', 'NULL')

In [37]:
#более продвинуто:
def give_book_pro(reader, book):
    t=datetime.datetime.now().date()
    t.strftime('%Y-%m-%d')
    connection = sqlite3.connect(db_name)
    with connection:
        reader_id = connection.execute("SELECT id FROM Reader WHERE name="+reader)
        reader_id = reader_id.fetchone()[0]
        book_id = connection.execute("SELECT id FROM Book WHERE title="+book)
        book_id = book_id.fetchone()[0]
        connection.execute("INSERT INTO Record VALUES (?, ?, ?, ?)", (reader_id, book_id, t, None))

give_book_pro("'Frida'", "'Das Kapital'") #ATTENTION ON FORMAT!!!
view_records()

(3, 4, '1872-02-14', '1872-07-01')
(4, 4, '1996-10-26', None)
(1, 2, '2006-06-13', '2006-06-14')
(1, 1, '2006-06-14', '2006-06-15')
(1, 3, '2006-06-15', '2006-07-20')
(2, 5, '2019-10-11', '2021-12-25')
(5, 3, '2001-03-15', None)
(5, 3, '2002-09-19', '2002-09-25')
(5, 4, '2022-03-28', '1991')
(5, 4, '2022-03-28', None)

**6) Принять книгу**

In [39]:
def return_book_pro(reader, book):
    t=datetime.datetime.now().date()
    t=t.strftime('%Y-%m-%d')
    connection = sqlite3.connect(db_name)
    with connection:
        reader_id = connection.execute("SELECT id FROM Reader WHERE name="+reader)
        reader_id = reader_id.fetchone()[0]
        book_id = connection.execute("SELECT id FROM Book WHERE title="+book)
        book_id = book_id.fetchone()[0]
        strr = "UPDATE Record SET returning_date=" +t+ " WHERE reader_id=" +str(reader_id)+ " AND book_id="+str(book_id)+";"
        connection.execute(strr)

return_book_pro("'Frida'", "'Das Kapital'") #ATTENTION ON FORMAT!!!
view_records()

(3, 4, '1872-02-14', '1872-07-01')
(4, 4, '1996-10-26', None)
(1, 2, '2006-06-13', '2006-06-14')
(1, 1, '2006-06-14', '2006-06-15')
(1, 3, '2006-06-15', '2006-07-20')
(2, 5, '2019-10-11', '2021-12-25')
(5, 3, '2001-03-15', None)
(5, 3, '2002-09-19', '2002-09-25')
(5, 4, '2022-03-28', '1991')
(5, 4, '2022-03-28', '1991')

In [35]:
t=datetime.datetime.now().date()
t=t.strftime('%Y-%m-%d')
t

'2022-03-28'

Произошло какое-то недопонимание с датой, а так работает, вроде.